@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background:
    radial-gradient(circle at top, #172554 0%, #020617 40%);
  color: white;
}

.star {
  position: absolute;
  top: -10px;
  background: white;
  border-radius: 9999px;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  from {
    transform: translateY(-10vh);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  to {
    transform: translateY(110vh);
    opacity: 0;
  }
}
